.card {
  &__heading-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacer-3);
  }

  &__body {
    margin-bottom: var(--spacer-3);
  }

  &__delete-confirmer {
    padding-left: var(--spacer-0);
    padding-right: var(--spacer-0);
    display: flex;
    justify-content: flex-end;
    width: 100%;
    --confirmation-bg-color: var(--bs-dark);
  }
}

.heading {
  &__subtext {
    --bs-text-opacity: 1;
    color: #9b9a9a;
  }
}

.body {
  margin-bottom: var(--spacer-4);

  &__entry {
    margin-bottom: var(--spacer-4);
  }

  &__subheading {
    margin-bottom: var(--spacer-1);
  }

  &__subbody {
    display: flex;
    flex-direction: column;
    margin-left: var(--spacer-4);

    &--list {
      margin-left: var(--spacer-2);
    }
  }

  &__link {
    width: fit-content;
  }
}
