<div class="editor-wrapper">
  YO: {{ selectionFormat()["header"] }}
  <!-- Custom toolbar: Quill's snow theme scans this container for ql-* classes -->
  <div ngToolbar #toolbar class="ql-toolbar ql-snow custom-toolbar">
    <!-- [{ header: [1,2,3,4,5,6,false] }] -->
    <span class="ql-formats">
      <!-- <select
        ngToolbarWidget
        [value]="selectionFormat()['header'] || 'normal'"
        #headerTool
        aria-label="Heading level"
        (input)="setFormat('header', headerTool.value)"
      >
        <option value="1">Heading 1</option>
        <option value="2">Heading 2</option>
        <option value="3">Heading 3</option>
        <option value="4">Heading 4</option>
        <option value="5">Heading 5</option>
        <option value="6">Heading 6</option>
        <option value="normal">Normal</option>
      </select> -->

      <button
        ngCombobox
        [value]="$any(selectionFormat()['header']) || 'normal'"
        #combobox="ngCombobox"
        [(expanded)]="headerPopupOpen"
        ngToolbarWidget
        class="tool select-tool"
        type="button"
        (click)="$event.stopPropagation()"
      >
        <div class="select-tool__label">
          {{ fontStyleLabel() }}

          <app-icon [icon]="'caret-down'" />
        </div>
      </button>
    </span>

    <!-- 'bold','italic','underline','strike','blockquote', {script:'sub'}, {script:'super'} -->
    <span class="ql-formats">
      <!-- TODO:
        1: Fix keyboard nav (enter press does not select entry)
        2: Fix label in dropdown and adjust its padding to the sides
        -->
      <button
        ngToolbarWidget
        class="tool"
        [class.tool--active]="selectionFormat()['bold']"
        type="button"
        aria-label="Bold"
        value="bold"
        (click)="toggleFormat('bold')"
        (keydown.enter)="toggleFormat('bold')"
        [ngbTooltip]="'Ctrl + b'"
      >
        <app-icon [icon]="'bold'" />
      </button>
      <button
        ngToolbarWidget
        class="tool"
        [class.tool--active]="selectionFormat()['italic']"
        value="italic"
        type="button"
        aria-label="Italic"
        (click)="toggleFormat('italic')"
        (keydown.enter)="toggleFormat('italic')"
        [ngbTooltip]="'Ctrl + i'"
      >
        <app-icon [icon]="'italic'" />
      </button>
      <button
        ngToolbarWidget
        class="tool"
        [class.tool--active]="selectionFormat()['underline']"
        value="underline"
        type="button"
        aria-label="Underline"
        (click)="toggleFormat('underline')"
        (keydown.enter)="toggleFormat('underline')"
        [ngbTooltip]="'Ctrl + u'"
      >
        <app-icon [icon]="'underline'" />
      </button>
      <button
        ngToolbarWidget
        class="tool"
        [class.tool--active]="selectionFormat()['strike']"
        value="strike"
        type="button"
        aria-label="Strike"
        (click)="toggleFormat('strike')"
        (keydown.enter)="toggleFormat('strike')"
      >
        <app-icon [icon]="'strikethrough'" />
      </button>
      <button
        ngToolbarWidget
        class="tool"
        [class.tool--active]="selectionFormat()['blockquote']"
        value="blockquote"
        type="button"
        (click)="toggleFormat('blockquote')"
        (keydown.enter)="toggleFormat('blockquote')"
        aria-label="Blockquote"
      >
        <app-icon [icon]="'quote-left'" />
      </button>
      <button
        ngToolbarWidget
        class="tool"
        [class.tool--active]="selectionFormat()['sub']"
        value="sub"
        type="button"
        (click)="toggleFormat('sub')"
        (keydown.enter)="toggleFormat('sub')"
        aria-label="Subscript"
      >
        <app-icon [icon]="'subscript'" />
      </button>
      <button
        ngToolbarWidget
        class="tool"
        [class.tool--active]="selectionFormat()['super']"
        value="super"
        type="button"
        (click)="toggleFormat('super')"
        (keydown.enter)="toggleFormat('super')"
        aria-label="Superscript"
      >
        <app-icon [icon]="'superscript'" />
      </button>
    </span>

    <!-- 'link','image','video' -->
    <span class="ql-formats">
      <button
        ngToolbarWidget
        value="link"
        class="ql-link tool tool--quill-controlled"
        type="button"
        aria-label="Link"
        [ngbTooltip]="'Ctrl + k'"
      ></button>
      <button
        ngToolbarWidget
        value="image"
        class="ql-image tool tool--quill-controlled"
        type="button"
        aria-label="Image"
      ></button>
      <button
        ngToolbarWidget
        value="video"
        class="ql-video tool tool--quill-controlled"
        type="button"
        aria-label="Video"
      ></button>
    </span>

    <!-- { align:'' }, {align:'center'}, {align:'right'}, {align:'justify'},
         { list:'ordered' }, { list:'bullet' },
         { indent:'-1' }, { indent:'+1' } -->
    <span
      class="ql-formats"
      ngToolbarWidgetGroup
      role="radiogroup"
      #alignGroup="ngToolbarWidgetGroup"
    >
      <button
        ngToolbarWidget
        class="tool"
        [class.tool--active]="(selectionFormat()['align'] ?? '') === ''"
        type="button"
        value=""
        role="radio"
        (click)="setFormat('align', '')"
        (keydown.enter)="setFormat('align', '')"
        aria-label="Align left"
      >
        <app-icon [icon]="'align-left'" />
      </button>
      <button
        ngToolbarWidget
        class="tool"
        [class.tool--active]="selectionFormat()['align'] === 'center'"
        type="button"
        value="center"
        role="radio"
        (click)="setFormat('align', 'center')"
        (keydown.enter)="setFormat('align', 'center')"
        aria-label="Align center"
      >
        <app-icon [icon]="'align-center'" />
      </button>
      <button
        ngToolbarWidget
        class="tool"
        [class.tool--active]="selectionFormat()['align'] === 'justify'"
        type="button"
        value="justify"
        role="radio"
        (click)="setFormat('align', 'justify')"
        (keydown.enter)="setFormat('align', 'justify')"
        aria-label="Align justify"
      >
        <app-icon [icon]="'align-justify'" />
      </button>
      <button
        ngToolbarWidget
        class="tool"
        [class.tool--active]="selectionFormat()['align'] === 'right'"
        type="button"
        value="right"
        (click)="setFormat('align', 'right')"
        (keydown.enter)="setFormat('align', 'right')"
        aria-label="Align right"
      >
        <app-icon [icon]="'align-right'" />
      </button>
    </span>

    <span class="ql-formats">
      <button
        ngToolbarWidget
        class="ql-list tool tool--quill-controlled"
        value="ordered"
        type="button"
        aria-label="Ordered list"
      ></button>
      <button
        ngToolbarWidget
        class="ql-list tool tool--quill-controlled"
        value="bullet"
        type="button"
        aria-label="Bullet list"
      ></button>
      <button
        ngToolbarWidget
        class="ql-indent tool tool--quill-controlled"
        value="-1"
        type="button"
        aria-label="Outdent"
      ></button>
      <button
        ngToolbarWidget
        class="ql-indent tool tool--quill-controlled"
        value="+1"
        type="button"
        aria-label="Indent"
      ></button>
    </span>

    <!-- { [TableUp.toolName]: [] } -->
    <span class="ql-formats">
      <button
        ngToolbarWidget
        value="new"
        type="button"
        class="tool tool--quill-controlled"
        aria-label="Insert table"
        (click)="createTable(2, 2)"
        (keydown.enter)="createTable(2, 2)"
      >
        <app-icon [icon]="'table'" />
      </button>
    </span>

    <!-- 'clean' -->
    <span class="ql-formats">
      <button
        ngToolbarWidget
        value="clean"
        class="ql-clean tool tool--quill-controlled"
        type="button"
        aria-label="Remove formatting"
      ></button>
    </span>
  </div>
  <div class="editor-body" #editor></div>
</div>

<ng-template
  class="test"
  [cdkConnectedOverlay]="{ origin: combobox.element, usePopover: 'inline' }"
  [cdkConnectedOverlayOpen]="headerPopupOpen()"
  (overlayOutsideClick)="closeSelect()"
>
  <ng-template ngComboboxPopup [combobox]="combobox">
    <div
      class="select-tool__listbox"
      ngListbox
      ngComboboxWidget
      (click)="headerPopupOpen.set(false)"
    >
      <button
        class="select-tool__option"
        type="button"
        (click)="setFormat('header', '')"
        (keydown.enter)="setFormat('header', '')"
        ngOption
        value="normal"
      >
        Normal
      </button>
      <button
        class="select-tool__option"
        type="button"
        (click)="setFormat('header', '1')"
        (keydown.enter)="setFormat('header', '1')"
        ngOption
        value="Heading 1"
      >
        Heading 1
      </button>
      <button
        class="select-tool__option"
        type="button"
        (click)="setFormat('header', '2')"
        (keydown.enter)="setFormat('header', '2')"
        ngOption
        value="Heading 2"
      >
        Heading 2
      </button>
      <button
        class="select-tool__option"
        type="button"
        (click)="setFormat('header', '3')"
        (keydown.enter)="setFormat('header', '3')"
        ngOption
        value="Heading 3"
      >
        Heading 3
      </button>
      <button
        class="select-tool__option"
        type="button"
        (click)="setFormat('header', '4')"
        (keydown.enter)="setFormat('header', '4')"
        ngOption
        value="Heading 4"
      >
        Heading 4
      </button>
      <button
        class="select-tool__option"
        type="button"
        (click)="setFormat('header', '5')"
        (keydown.enter)="setFormat('header', '5')"
        ngOption
        value="Heading 5"
      >
        Heading 5
      </button>
      <button
        class="select-tool__option"
        type="button"
        (click)="setFormat('header', '6')"
        (keydown.enter)="setFormat('header', '6')"
        ngOption
        value="Heading 6"
      >
        Heading 6
      </button>
    </div>
  </ng-template>
</ng-template>
