:host {
  display: block;
  background-color: var(--bs-gray-800);
  margin-bottom: 10rem;
  --toolbar-color: white;
  --focus-border-width: 2px;

  &:focus-within {
    ::ng-deep .ql-container.ql-snow {
      border-bottom-color: var(--bs-link-hover-color);
      border-bottom-width: var(--focus-border-width);
      border-left-color: var(--bs-link-hover-color);
      border-left-width: var(--focus-border-width);
      border-right-color: var(--bs-link-hover-color);
      border-right-width: var(--focus-border-width);
    }

    ::ng-deep .ql-toolbar.ql-snow {
      border-top-color: var(--bs-link-hover-color);
      border-top-width: var(--focus-border-width);
      border-left-color: var(--bs-link-hover-color);
      border-left-width: var(--focus-border-width);
      border-right-color: var(--bs-link-hover-color);
      border-right-width: var(--focus-border-width);
    }
  }
}

::ng-deep {
  .ql-toolbar.ql-snow {
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);

    .ql-stroke {
      stroke: var(--toolbar-color);
    }

    .ql-fill {
      fill: var(--toolbar-color);
    }

    .ql-header {
      color: var(--toolbar-color);
    }

    .ql-picker-options {
      background-color: var(--bs-gray-800);
    }
  }

  .ql-container.ql-snow {
    height: 400px;
    font-size: unset;
    border-bottom-left-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);

    p {
      margin-top: 16px;
      margin-bottom: 16px;
    }

    .ql-editor > :first-child {
      margin-top: unset;
    }

    .ql-editor > :last-child {
      margin-bottom: unset;
    }

    .table-up-menu {
      background-color: var(--bs-gray-800);
    }
  }

  .ql-table-cell {
    border: 1px solid var(--bs-white);
    padding: var(--spacer-1);
  }
}
