.skip-to-content {
  background-color: var(--bs-primary);
  text-align: center;
  padding: var(--spacer-2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 0;
}
