local_only
.github
.idea
.storybook
.vscode
db.sqlite3
letsencrypt
architectureDocumentation
ansible
frontend/dist
frontend/.storybook
frontend/node_modules
frontend/buildFiles/nginx/local_only
backend/buildFiles/nimstoryfont/local_only_db_dumps
backend/buildFiles/nimstoryfont/jobs
backend/exampleStuff
.git