@if (isSelectable()) {
  <button
    class="w-100 hover-highlight"
    (click)="entryClick.emit(isActive() ? 'INACTIVE' : 'ACTIVE')"
  >
    <ng-container *ngTemplateOutlet="entry"></ng-container>
  </button>
} @else {
  <ng-container *ngTemplateOutlet="entry"></ng-container>
}

<ng-template #entry>
  <div
    class="sidebar"
    [ngClass]="{
      highlight: isActive(),
    }"
  >
    <div class="sidebar-border">
      <span class="mx-2"> {{ label() }} </span>
      @let entryIcon = icon();
      @if (entryIcon) {
        <app-icon [icon]="entryIcon"></app-icon>
      }
    </div>

    @if (isActive()) {
      <app-icon [icon]="'times'"></app-icon>
    }
  </div>
</ng-template>
