<app-page-container>
  <article>
    <h1 class="heading">Rules</h1>

    <app-rules
      [rules]="rules()"
      [serverModel]="serverModel()"
      [campaignId]="campaignId()"
      [canCreate]="canCreate()"
      [canUpdate]="canUpdate()"
      [canDelete]="canDelete()"
      (ruleDelete)="ruleDelete.emit($event)"
      (ruleCreate)="ruleCreate.emit($event)"
      (ruleUpdate)="ruleUpdate.emit($event)"
    ></app-rules>

    <div class="container">
      <a
        btn
        [kind]="'SECONDARY'"
        [text]="'Back to Frontpage'"
        class="back-link"
        [routerLink]="homeUrl()"
      >
      </a>
    </div>
  </article>
</app-page-container>
