:host {
  // Must be consistent with width+height of ngOptimizedImage
  --image-dimension: 80px;
  display: flex;
  flex-direction: row;
  min-height: var(--image-dimension);
  width: 100%;
  align-items: center;
  overflow: hidden;
}

.img {
  height: var(--image-dimension);
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: var(--image-dimension);
  overflow: hidden;
  padding-right: var(--spacer-2);
  padding-left: var(--spacer-2);

  &__header {
    width: fit-content;
  }

  &__body {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
