.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.disabled {
  cursor: not-allowed;
}

.btn-outline-light {
  border-color: var(--bs-white);
  color: var(--bs-white);
  display: flex;
  align-items: center;
  height: unset;
}

div.datepicker-day {
  background-color: var(--wiki-bg-solid);
  color: var(--bs-white);
  text-align: center;
  transition: background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--bs-black);
    background-color: grey;
  }
}
