<div #host>
  <!-- Text Body -->
  @if (canUpdate()) {
    @switch (state()) {
      @case ("DISPLAY") {
        <div class="field field--display" (click)="startEdit()">
          <ng-container *ngTemplateOutlet="textBody" />
        </div>
      }
      @case ("UPDATE") {
        <form class="field" (submit)="finishEdit()">
          <app-quill-editor
            #editor
            [id]="id()"
            [labelId]="labelId()"
            [describedById]="describedById()"
            class="mb-2"
            [value]="text()"
            (inputChanged)="editorValue.set($event)"
          >
            <ng-container *ngTemplateOutlet="editorBottom" />
          </app-quill-editor>

          <ng-container [ngTemplateOutlet]="formButtons" />
        </form>
      }
      @case ("OUTDATED_UPDATE") {
        <div class="field">
          <!-- Informating heading -->
          <app-alert [kind]="'INFO'">
            <app-icon [icon]="'info-circle'"></app-icon>
            While you were updating this article, somebody else went ahead and
            updated it as well. Please include their changes in your update
            before submitting.
          </app-alert>

          <!-- Textfield-Form -->
          <div class="flex-column card p-4">
            <!-- Comparison text -->
            <div>
              <h3>Text From Server</h3>
              <app-html-text [text]="serverModel()!" />
            </div>

            <app-separator />

            <!-- Actual edit form -->
            <form (submit)="finishEdit()">
              @let outdatedId = id() + "-outdated";
              @let outdatedLabelId = id() + "-outdated-label";
              <label [id]="outdatedLabelId" [for]="outdatedId" class="h3">
                Text from You
              </label>

              <app-quill-editor
                #editor
                [id]="outdatedId"
                [labelId]="outdatedLabelId"
                class="mb-2"
                [value]="editorValue()"
                (inputChanged)="editorValue.set($event)"
              >
                <ng-container *ngTemplateOutlet="editorBottom" />
              </app-quill-editor>

              <ng-container [ngTemplateOutlet]="formButtons" />
            </form>
          </div>
        </div>
      }
    }
  } @else {
    <ng-container *ngTemplateOutlet="textBody" />
  }
</div>

<ng-template #formButtons>
  <div class="field__buttons">
    <button
      btn
      [icon]="'check'"
      [text]="'Submit'"
      [kind]="submitButtonKind()"
      [type]="'submit'"
    ></button>
    <button
      btn
      [icon]="'times'"
      [text]="'Cancel'"
      [kind]="cancelButtonKind()"
      [hotkeyAction]="'cancel'"
      [actionDisabled]="disabledHotkeys()"
      (actionTriggered)="cancelEdit()"
      (clicked)="cancelEdit()"
    ></button>
  </div>
</ng-template>

<ng-template #textBody>
  <app-html-text [text]="text() || placeholder()" />
</ng-template>

<ng-template #editorBottom>
  <div class="field__bottom" aria-live="polite">
    <span
      class="save-text"
      [class.save-text--saved]="saveState() === 'ALL_SAVED'"
      [class.save-text--saving]="saveState() === 'SAVING'"
      [class.save-text--unsaved]="saveState() === 'UNSAVED_CHANGES'"
    >
      @switch (saveState()) {
        @case ("UNSAVED_CHANGES") {
          Unsaved Changes
        }
        @case ("SAVING") {
          Saving <app-spinner class="save-text__spinner" />
        }
        @case ("ALL_SAVED") {
          All changes saved <app-icon [icon]="'circle-check'" />
        }
      }
    </span>
  </div>
</ng-template>
