<app-page-container>
  <article class="container quest">
    @if (canUpdate()) {
      <div class="quest__edit-container">
        <a
          btn
          [icon]="'pencil'"
          [kind]="'SECONDARY'"
          [routerLink]="updateUrl()"
          [ngbTooltip]="'Edit ' + quest().name"
          [attr.aria-label]="'Edit ' + quest().name"
          [hotkey]="'e'"
          (hotkeyPressed)="$event.host.click()"
        >
        </a>
      </div>
    }

    <!-- Heading -->
    <div class="row">
      <h1 class="col-12 quest__heading">
        {{ quest().name }}
      </h1>
    </div>

    <div class="row quest__data-row">
      <!-- Quest Status -->
      <span class="col-5">Status:</span>
      <span class="col-7">{{ quest().status }}</span>

      <!-- Quest Start -->
      <div class="col-5">Start - End:</div>
      <div class="col-7">
        {{ quest().start_session_details?.name }} -
        @if (quest().end_session_details) {
          {{ quest().end_session_details?.name }}
        } @else {
          <ng-container *ngTemplateOutlet="Ongoing" />
        }
      </div>

      <!-- Quest Giver -->
      <span class="col-5">Quest Giver:</span>
      <span class="col-7">
        @if (quest().giver_details) {
          <a [routerLink]="questGiverUrl()">
            {{ quest().giver_details?.name }}
          </a>
        } @else {
          <ng-container *ngTemplateOutlet="NoQuestGiver" />
        }
      </span>
    </div>

    <!-- Description -->
    <app-editable-text
      class="quest__description"
      [heading]="'Description'"
      [ariaLevel]="2"
      [placeholder]="'Add a description for ' + quest().name"
      [text]="quest().description"
      [canUpdate]="canUpdate()"
      (update)="onDescriptionUpdate($event)"
    ></app-editable-text>

    <!-- Footer (Move to other Article + Delete Article) -->
    <app-article-footer
      [buttonLink]="overviewUrl()"
      [buttonLabel]="'Back to Quest Overview'"
      [showDelete]="canDelete()"
      [deleteMessage]="'Quest ' + quest().name"
      (delete)="questDelete.emit(quest())"
    ></app-article-footer>
  </article>
</app-page-container>

<ng-template #Ongoing> Ongoing </ng-template>

<ng-template #NoQuestGiver> None </ng-template>
