# LOCAL GHCR REFERENCE
# This docker-compose file is for local development and for reference for writing your own.
# It pulls the images from the github container registry instead of building from scratch.
# Usecase: Debugging. You quickly want to repeat a bug in a local environment that you saw in production.

services:
  #Nginx Reverse Proxy
  proxy:
    image: ghcr.io/philippmdoerner/nginx_frontend-dev:latest
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt # For certbot
      - ./{{ media_path }}:/imagemedia # To serve images
      - ./{{ audio_path }}:/session_audio # To serve audio files
      - ./{{ nginx_path }}:/etc/nginx/nginx.conf
      - ./{{ dumps_path }}:/db_dumps # For database access
      - ./{{ feature_config_path }}:/feature_config.json
    container_name: production_nginx
    restart: on-failure

  #NimStoryfont backend webserver that receives requests on port 8080
  nimstoryfont:
    image: ghcr.io/philippmdoerner/backend-dev:latest
    expose:
      - "8080" #Differs from ports: -"8080:8080" by not hogging the 8080 port, merely listening on it and thus not causing conflicts with production_nginx
    volumes:
      - ./{{ backend_settings_path }}:/configs/settings.json
      - ./{{ feature_config_path }}:/configs/feature_config.json
      - ./{{ media_path }}:/imagemedia
      - ./{{ db_path }}:/database/db.sqlite3 # For database access
    container_name: nswebserver
    restart: on-failure
