services:
  #Nginx Reverse Proxy
  proxy:
    image: ghcr.io/philippmdoerner/nginx_frontend-dev:latest
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - {{ compose_cert_path }}:/etc/letsencrypt # For certbot
      - {{ compose_media_path }}:/imagemedia # To serve images
      - {{ compose_audio_path }}:/session_audio # To serve audio files
      - {{ compose_nginx_path }}:/etc/nginx/nginx.conf
      - {{ compose_dumps_path }}:/db_dumps # For database access
      - {{ compose_feature_config_path }}:/feature_config.json
    container_name: production_nginx
    restart: on-failure

  #NimStoryfont backend webserver that receives requests on port 8080
  nimstoryfont:
    image: ghcr.io/philippmdoerner/backend-dev:latest
    expose:
      - "8080" #Differs from ports: -"8080:8080" by not hogging the 8080 port, merely listening on it and thus not causing conflicts with production_nginx
    volumes:
      - {{ compose_backend_settings_path }}:/configs/settings.json
      - {{ compose_feature_config_path }}:/configs/feature_config.json
      - {{ compose_media_path }}:/imagemedia
      - {{ compose_db_path }}:/database/db.sqlite3 # For database access
    container_name: nswebserver
    restart: on-failure
