[req]
default_bits = 2048
default_keyfile = privkey.pem
encrypt_key = no
utf8 = yes
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
C = {{ local_cert_country }}
ST = {{ local_cert_state }}
L = {{ local_cert_locality }}
O  = {{ local_cert_organization }}
CN = *.{{ domain }}

[v3_req]
keyUsage = critical, digitalSignature, keyAgreement
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = {{ domain }}
DNS.2 = www.{{ domain }}
