#!/bin/bash
# This sets up an ansible user on the remote machine with the correct ssh key
KEY=$(cat {{ssh_key_path}})
USR=ansible

ssh root@{server_ip} "adduser --comment '' $USR && \
  adduser $USR sudo && \
  mkdir /home/$USR/.ssh && \
  echo "$KEY" >> /home/$USR/.ssh/authorized_keys && \
  chown -R $USR:$USR /home/$USR/.ssh && \
  chmod 700 /home/$USR/.ssh && \
  chmod 600 /home/$USR/.ssh/*"