:host {
  --inner-badge-padding: var(--spacer-2);
}

.badge-container {
  display: flex;
  flex-direction: row;
}

.badge {
  cursor: pointer;
  border-bottom: none;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;

  &:focus-visible,
  &:hover {
    outline: var(--focus-outline);
  }

  &--part1 {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    padding-right: var(--inner-badge-padding);
  }

  &--part2 {
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    padding-left: var(--inner-badge-padding);
    padding-right: var(--inner-badge-padding);
    border-left: 1.5px solid var(--bs-white);
  }
}

.bg-warning,
.bg-light,
.bg-info {
  color: (var(--bs-black));
}
