.list {
  &__button-row {
    margin-bottom: var(--spacer-3);
  }

  &__quote-card {
    margin: 0;
  }

  &__row {
    gap: var(--spacer-5);
  }

  &__session-quotes {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-3);
  }

  &__quote {
    padding: var(--spacer-3);
    padding-left: var(--spacer-1);
  }
}
