<div ngbDropdown [placement]="placement()" (openChange)="isOpen.set($event)">
  <button
    btn
    ngbDropdownToggle
    #triggerElement
    [id]="triggerId"
    class="dropdown-toggle"
    [kind]="menuButtonKind()"
    [text]="menuButtonText()"
    [icon]="menuButtonIcon()"
    [size]="menuButtonSize()"
    [hotkeyAction]="menuButtonHotkey()"
    aria-haspopup="menu"
    [attr.aria-controls]="menuId"
    [attr.aria-label]="menuButtonAriaLabel()"
    (actionTriggered)="openAndScrollToMenu()"
  ></button>
  <ul
    ngbDropdownMenu
    class="dropdown-menu dropdown-menu-end p-0"
    role="menu"
    [id]="menuId"
    [attr.aria-labelledby]="triggerId"
  >
    @for (item of menuItems(); track $index) {
      @switch (item.kind) {
        @case ("HEADER") {
          <div ngbDropdownItem [class]="'dropdown-header ' + item.headerKind">
            {{ item.label }}
          </div>
        }
        @case ("SEPARATOR") {
          <hr ngbDropdownItem class="dropdown-divider" />
        }
        @case ("LINK") {
          <a
            #menuItem
            ngbDropdownItem
            [id]="id + '-' + $index"
            class="dropdown-item"
            role="menuitem"
            [class.active]="item.active"
            [class.disabled]="item.disabled"
            [routerLink]="item.url"
            [hotkeyAction]="item.hotkeyAction"
            (actionTriggered)="menuItem.click()"
          >
            @if (item.icon) {
              <app-icon class="me-3" [icon]="item.icon"></app-icon>
            }
            {{ item.label }}
          </a>
        }
        @case ("BUTTON") {
          <button
            [id]="id + '-' + $index"
            class="dropdown-item"
            [class.active]="item.active"
            [class.disabled]="item.disabled"
            [hotkeyAction]="item.hotkeyAction"
            role="menuitem"
            ngbDropdownItem
            (click)="actionTriggered.emit(item.actionName)"
            (actionTriggered)="actionTriggered.emit(item.actionName)"
          >
            @if (item.icon) {
              <app-icon class="me-3" [icon]="item.icon"></app-icon>
            }
            {{ item.label }}
          </button>
        }
        @case ("CONFIRM") {
          <button
            [id]="id + '-' + $index"
            class="dropdown-item"
            [class.active]="item.active"
            [class.disabled]="item.disabled"
            [hotkeyAction]="item.hotkeyAction"
            role="menuitem"
            ngbDropdownItem
            (click)="openModal(item, menuModal)"
            (actionTriggered)="openModal(item, menuModal)"
          >
            @if (item.icon) {
              <app-icon class="me-3" [icon]="item.icon"></app-icon>
            }
            {{ item.label }}
          </button>
        }
      }
    }
  </ul>
</div>

<ng-template #menuModal let-modal>
  @let modalItem = activeModalItem();
  @if (modalItem) {
    <app-delete-modal
      [heading]="modalItem.modal.heading"
      [submitIcon]="modalItem.modal.submitIcon"
      [submitButtonLabel]="modalItem.modal.submitLabel"
      [cancelButtonLabel]="modalItem.modal.cancelLabel"
      [modalType]="modalItem.modal.kind"
      [cancelButtonType]="'SECONDARY'"
      (confirm)="onConfirm(modalItem.actionName, modal)"
      (modalClose)="closeModal(modal)"
    >
      <ng-container body>
        <p>{{ modalItem.modal.body }}</p>
      </ng-container>
    </app-delete-modal>
  }
</ng-template>
