@let ariaTex = ariaText();
<button
  btn
  [id]="id()"
  [class.active]="active()"
  [kind]="active() ? kind() : inactiveElementKind()"
  [icon]="icon()"
  [text]="text()"
  [size]="size()"
  [disabled]="disabled()"
  [attr.aria-disabled]="disabled()"
  [attr.aria-pressed]="active()"
  [attr.aria-label]="
    ariaTex?.kind === 'aria-label' ? $any(ariaTex)?.label : null
  "
  [attr.aria-labelledby]="
    ariaTex?.kind === 'aria-labelledby' ? $any(ariaTex)?.id : null
  "
  [attr.aria-controls]="ariaControls()"
  (clicked)="changed.emit(!active())"
></button>
