.location {
  &__edit-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__heading {
    text-align: center;
  }

  &__subheading {
    text-align: center;
  }

  &__characters {
    margin-bottom: var(--spacer-5);
  }

  &__images {
    margin-bottom: var(--spacer-3);
  }

  &__description {
    width: 100%;
    margin-bottom: var(--spacer-5);
  }
}

.subheading {
  &__icon {
    margin-left: var(--spacer-1);
    margin-right: var(--spacer-1);
  }
}
