.heading {
  display: flex;
  gap: var(--spacer-2);
  justify-content: center;
  align-items: center;

  &__player-class-badge {
    cursor: pointer;
    margin-left: var(--spacer-1);
    margin-right: var(--spacer-1);
    display: inherit;

    &:hover {
      color: var(--bs-link-hover-color);
    }
  }
}

.subline {
  margin-top: var(--spacer-3);
  width: 100%;
  display: flex;
  justify-content: center;

  &__inner {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: var(--spacer-3);
    max-width: 500px;
    flex-wrap: wrap;
  }
}

.back-link {
  width: fit-content;
  display: inline-block;
}
