<button
  btn
  aria-label="shows modal explaining graph data"
  class="rounded-pill"
  [kind]="'NONE'"
  [icon]="'info-circle'"
  [text]="'Help'"
  (clicked)="openModal(infoModal)"
></button>

<ng-template #infoModal let-modal>
  <div class="modal-header">
    <h2
      class="modal-title w-100 d-flex justify-content-between"
      id="modal-title"
    >
      <span>Graph Info</span>
      <button type="button" aria-label="Close" (click)="modal.dismiss()">
        <app-icon [icon]="'times'"></app-icon>
      </button>
    </h2>
  </div>

  <div class="modal-body">
    <ul class="container">
      <h3 class="h4">Possible Graph Interactions:</h3>
      @for (interaction of infoInteractions; track $index) {
        <li class="row mb-2">
          <div class="col-lg-6 col-12 h6 fw-bold">
            {{ interaction.event }}
          </div>
          <span class="col-lg-6 col-12">
            {{ interaction.description }}
          </span>
        </li>
      }
    </ul>

    <app-separator />

    <ul class="container">
      <h3 class="h4">Kinds of Links:</h3>
      @for (rule of infoRules; track $index) {
        <li class="row mb-4">
          <div class="col-lg-6 col-12 h6 fw-bold">
            {{ rule.nodeKind1 }}
            <app-icon [icon]="'link'" />
            {{ rule.nodeKind2 }}
            @if (rule.groupLabel) {
              <span class="fw-light"> ({{ rule.groupLabel }}) </span>
            }
          </div>
          <span class="col-lg-6 col-12">
            {{ rule.description }}
          </span>
        </li>
      }
    </ul>
  </div>
</ng-template>
