[Unit]
Description=Certbot Renew Service

[Service]
Type=oneshot
ExecStart=sudo docker exec production_nginx certbot renew

[Install]
WantedBy=multi-user.target