.map {
  &__edit-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__no-map {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: var(--spacer-5);
  }

  &__map {
    margin-top: var(--spacer-3);
    margin-bottom: var(--spacer-3);
  }

  &__create {
    width: fit-content;
    display: inline-block;
  }
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--spacer-5);

  &__select {
    margin-left: var(--spacer-3);
    font-weight: bold;
    --menu-text-size: 24px;
    --menu-option-text-size: 20px;
  }
}
