<nav class="navigation" [attr.aria-label]="'breadcrumb'">
  <ol class="breadcrumb">
    @for (entry of linkEntries(); track entry) {
      <li
        class="breadcrumb-item"
        [class.active]="$last"
        [attr.aria-current]="$last ? 'page' : null"
      >
        <a
          [routerLink]="entry.url"
          class="breadcrumb-item__link"
          [class.breadcrumb-item__link--last]="$last"
        >
          {{ entry.label }}
        </a>
      </li>
    }
  </ol>
</nav>

<ng-template #link let-entry>
  <a [routerLink]="entry.url">
    {{ entry.label }}
  </a>
</ng-template>
