:host {
  display: block;
}

.table {
  &__column-content {
    vertical-align: middle;
  }

  &__modified-column {
    font-size: x-large;
  }

  &__action-buttons {
    display: flex;
    gap: var(--spacer-3);
  }

  &__action-button {
    &--hidden {
      visibility: hidden;
    }
  }
}
