<div class="modal-header">
  <h2 class="modal-title">
    <div class="container">Hotkeys</div>
  </h2>
  <button
    class="modal-close-btn"
    type="button"
    aria-label="Close"
    (click)="dismiss()"
    [hotkey]="'q'"
    (hotkeyPressed)="dismiss()"
  >
    <app-icon [icon]="'times'"></app-icon>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    @for (section of sections; track section.title) {
      <div class="mb-4">
        <h3 class="h3 fw-bold">
          <app-icon [icon]="section.icon" />
          {{ section.title }}
        </h3>
        @if (section.subtitle) {
          <h4 class="h6">{{ section.subtitle }}</h4>
        }
      </div>

      <h4 class="row h6 fw-bold">
        <div class="col-md-2">Hotkey</div>
        <div class="col-md-2">Action</div>
        <div class="col-md-8">Description</div>
      </h4>
      @for (hotkey of section.keys; track hotkey.key) {
        <div class="row mb-3">
          <div class="col-md-2 h6 mb-0 fw-bold">
            Alt + {{ hotkey.key | titlecase }}
          </div>
          <div class="col-md-2">
            {{ hotkey.actionName }}
          </div>
          <span class="col-md-8">
            {{ hotkey.description }}
          </span>
        </div>
      }

      @if (!$last) {
        <app-separator />
      }
    }
  </div>
</div>
