@let creature = store.creature();

@if (creature) {
  <app-creature
    [canCreate]="store.hasWritePermission()"
    [canDelete]="store.hasWritePermission()"
    [canUpdate]="store.hasWritePermission()"
    [serverUrl]="serverUrl"
    [creature]="creature"
    [creatureServerModel]="store.creatureServerModel()"
    [imageServerModel]="store.imageServerModel()"
    (createImage)="store.createImage($event, creature.pk!)"
    (updateImage)="store.updateImage($event)"
    (deleteImage)="store.deleteImage($event.pk!)"
    (creatureDelete)="deleteCreature($event)"
    (creatureUpdate)="store.updateCreature($event)"
  ></app-creature>
}
