@let user = user$();

@if (user != null) {
  <app-profile
    [user]="user"
    [memberships]="memberships$() ?? []"
    [canDeleteProfile]="isCurrentUser$()"
    [canResetWithoutPassword]="(canResetWithoutPassword$ | async) ?? false"
    [campaignName]="campaignName$()"
    [backUrl]="backUrl()"
    (campaignLeave)="profilePageStore.leaveCampaign($event)"
    (passwordUpdate)="
      authStore.patchPassword({
        oldPassword: $event.oldPassword,
        newPassword: $event.password,
      })
    "
    (profileDelete)="profilePageStore.profileDelete()"
    (profileUpdate)="profilePageStore.profileUpdate($event)"
  ></app-profile>
}
