<app-page-container>
  <article class="container search">
    <!-- Heading -->
    <div class="row search__heading">
      <h1 class="col-12">Search Results</h1>
    </div>

    <app-sidebar-legend
      class="mb-4 d-block"
      [interactable]="true"
      (sidebarChange)="onCategorySelect($event)"
    ></app-sidebar-legend>

    <app-search-field
      [placeholder]="'Search for Articles...'"
      [btnAriaLabel]="
        'Triggers a search for any articles matching the query in this campaign'
      "
      [canSearch]="(isOnline$ | async) === true"
      (appSearch)="search($event)"
    ></app-search-field>

    <!-- Article List -->
    <div class="row search__results">
      @if (foundArticles().length > 0) {
        <ul>
          @for (article of filteredArticles(); track article.pk) {
            <app-search-hit
              role="listitem"
              [article]="article"
            ></app-search-hit>
          }
        </ul>
      } @else {
        <div class="search__empty-results">
          <h4>We couldn't find any hits for '{{ searchString() }}'</h4>
          <i> {{ emptySearchSubtitle() }}</i>
        </div>
      }
    </div>

    <!-- Footer -->
    <div class="row">
      <a
        btn
        class="search__home"
        [routerLink]="homeUrl()"
        [kind]="'SECONDARY'"
        [text]="'Back To Frontpage'"
      >
      </a>
    </div>
  </article>
</app-page-container>
