@use "/src/screens.scss" as screen;

:host {
  position: relative;
  display: block;
}

.card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: var(--bs-border-style) var(--bs-border-width) var(--bs-border-color);

  &--active {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
    box-shadow:
      0 0 0 5px rgba(0, 0, 0, 0.4),
      0 0 20px rgba(0, 0, 0, 0.6),
      0 10px 20px rgba(0, 0, 0, 0.8);

    @media (prefers-reduced-motion: no-preference) {
      @include screen.media-breakpoint-up(lg) {
        transition: transform ease-in-out 0.2s;
        transform: scale(1.2);
      }
    }

    .card__img-container {
      display: flex;
      max-width: 100%;
      max-height: 100%;
    }

    .card__img-link {
      outline: none;

      &:focus-visible,
      &:hover {
        outline: var(--focus-outline);
        border-radius: 0;
      }
    }

    .card-img-top {
      max-width: 100%;
      height: 40vh;
      max-height: unset;
      object-fit: scale-down;
      object-position: top;
    }

    .card-body {
      flex: unset;
    }
  }

  &-body {
    padding: var(--spacer-3);
  }

  &__img-link {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    outline-offset: -3px;
  }

  &__title-link {
    text-align: center;
    font-weight: normal;
    width: 100%;
    display: block;
    @include screen.media-breakpoint-up(md) {
      text-decoration: none;
    }
  }

  &__img-container {
    flex: 1;
    position: relative;
  }

  &-img-top {
    object-fit: cover;
    object-position: top;
    max-height: 7rem;
  }

  &__img-close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: var(--spacer-2);
    right: var(--spacer-2);
    width: var(--spacer-5);
    height: var(--spacer-5);
    background-color: var(--bs-dark);
    border-radius: 50%;
    z-index: 2;

    @include screen.media-breakpoint-up(md) {
      display: none;
    }
  }

  &__img-selectors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: var(--spacer-2);
    margin-bottom: var(--spacer-2);
    gap: var(--spacer-2);
  }

  &__img-selector {
    border-radius: 50%;
    width: var(--spacer-5);
    height: var(--spacer-5);
    border: var(--bs-border-style) var(--bs-border-width) var(--bs-border-color);
    background-color: var(--bs-dark);

    &--active {
      background-color: var(--bs-secondary);
      border-width: calc(var(--bs-border-width) * 2);
    }
  }

  &__loading-spinner {
    background-color: var(--bs-dark);
    padding: var(--spacer-3);
    border-radius: var(--bs-border-radius);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
