@let location = store.location();
@if (location) {
  <app-location-template
    [serverUrl]="serverUrl"
    [location]="location"
    [locationServerModel]="store.locationServerModel()"
    [imageServerModel]="store.imageServerModel()"
    [campaignCharacters]="store.campaignCharacters() ?? []"
    [canCreate]="store.hasWritePermission()"
    [canUpdate]="store.hasWritePermission()"
    [canDelete]="store.hasWritePermission()"
    (createImage)="store.createImage($event, location.pk!)"
    (updateImage)="store.updateImage($event)"
    (deleteImage)="store.deleteImage($event.pk!)"
    (locationDelete)="onLocationDelete($event)"
    (locationUpdate)="store.updateLocation($event)"
  ></app-location-template>
}
