.quests {
  &__heading {
    margin-bottom: var(--spacer-3);
    border-bottom: 1px solid var(--bs-gray);
  }

  &__table {
    margin-bottom: var(--spacer-3);
  }

  &__tables {
    margin-bottom: var(--spacer-4);
  }

  &__create-link {
    width: fit-content;
  }
}
