.user-card{
  &__row{
    margin-top: var(--spacer-3);
    margin-bottom: var(--spacer-3);
    
    &--delete{
      margin-top: var(--spacer-4);
      display: flex;
      justify-content: flex-end;
    }
    
    &--heading{
      margin-top: var(--spacer-0);
    }
  }
}