<app-create-update
  [heading]="heading()"
  [state]="state()"
  [userModel]="userModel()"
  [formlyFields]="formlyFields()"
  [serverModel]="store.serverModel()"
  (create)="create($event)"
  (update)="update($event)"
  (cancelled)="cancel()"
>
  <ng-container sub-forms>
    <div class="d-flex mb-4">
      <button
        btn
        class="me-2"
        [kind]="'LIGHT'"
        [disabled]="hasMainSessionToday()"
        [text]="'Add Main Session Today'"
        [icon]="'calendar-alt'"
        (clicked)="addSessionToday(true)"
      ></button>

      <button
        btn
        class="ms-2"
        [kind]="'LIGHT'"
        [disabled]="hasSideSessionToday()"
        [text]="'Add Side Session Today'"
        [icon]="'calendar-alt'"
        (clicked)="addSessionToday(false)"
      ></button>
    </div>
  </ng-container>
</app-create-update>
