@import "/src/screens.scss";

.repeated-unit {
  padding: 0;
  scroll-margin-top: var(--spacer-5);
  border-radius: var(--bs-border-radius);

  @include media-breakpoint-up(md) {
    padding: unset;
  }
}

.encounter-card {
  display: flex;
  justify-content: center;
  --card-flex-direction: column;
  --card-padding: var(--spacer-3);

  @include media-breakpoint-up(md) {
    --card-flex-direction: row;
  }

  &__encounter {
    flex: 1;
  }
}

.spinner {
  width: 100px;
  height: 100px;
  --thickness: 60px;
}
