@let focusIndex = focusIndex$ | async;
@for (entry of entries(); track entry.trackId) {
  @let isInFocusForTab = (focusIndex ?? 0) === $index;
  @let isInFocusVisibly = focusIndex === $index;
  @let entryLabelId = entry.trackId + "-label";
  <li
    [class]="'list__item ' + listItemClassStr()"
    [tabindex]="isInFocusForTab ? 0 : -1"
    #listItem
    [attr.aria-labelledb]="entryLabelId"
    (click)="entryActivated.emit(entry.data)"
    (keydown.Enter)="entryActivated.emit(entry.data)"
  >
    <ng-container
      *ngTemplateOutlet="
        entryTemplate();
        context: {
          $implicit: {
            data: entry.data,
            isInFocus: isInFocusVisibly,
            entryLabelId: entryLabelId,
            index: $index,
            first: $first,
            last: $last,
          },
        }
      "
    />
  </li>
}

<ng-template #tipContent>
  <div class="list__tooltip tooltip">
    @for (line of tooltipLines(); track line.icon) {
      <div class="tooltip__entry">
        <span class="tooltip__entry-text"> {{ line.text }} = </span>
        <app-icon [icon]="line.icon" />
      </div>
    }
  </div>
</ng-template>
