<app-page-container>
  <article class="container creature">
    <app-article-context-menu
      class="creature__edit-container"
      [editEntry]="
        canUpdate()
          ? {
              kind: 'LINK',
              link: updateUrl(),
              label: 'Edit ' + creature().name,
            }
          : undefined
      "
      [deleteLabel]="canDelete() ? 'Delete ' + creature().name : undefined"
      (deleteConfirmed)="creatureDelete.emit(creature())"
    />

    <!-- Heading -->
    <div class="row">
      <h1 class="col-12 creature__heading">
        {{ creature().name }}
      </h1>
    </div>

    <!-- Image Gallery -->
    <div class="creature__images">
      <app-image-carousel-card
        [images]="creature().images ?? []"
        [serverUrl]="serverUrl()"
        [serverModel]="imageServerModel()"
        [canUpdate]="canUpdate()"
        [canCreate]="canCreate()"
        [canDelete]="canDelete()"
        (createImage)="createImage.emit($event)"
        (deleteImage)="deleteImage.emit($event)"
        (updateImage)="updateImage.emit($event)"
      ></app-image-carousel-card>
    </div>

    <!-- Description -->
    <app-editable-text
      class="creature__description"
      [heading]="'Description'"
      [ariaLevel]="2"
      [placeholder]="'Add a description for ' + creature().name"
      [text]="creature().description"
      [serverModel]="creatureServerModel()?.description"
      [canUpdate]="canUpdate()"
      (update)="onDescriptionUpdate($event)"
    ></app-editable-text>

    <!-- Footer (Move to other Article + Delete Article) -->
    <app-article-footer
      [buttonLink]="overviewUrl()"
      [buttonLabel]="'Back to Creatures'"
    />
  </article>
</app-page-container>
