<div class="container-fluid">
  <ul class="row image-grid">
    @for (entry of entries(); track $index) {
      <li
        class="image-grid__container"
        [ngClass]="{
          'col-lg-12': columnCount() === 1,
          'col-sm-6': columnCount() === 2,
          'col-md-6 col-lg-4': columnCount() === 3,
        }"
      >
        <a
          class="image-grid__entry entry"
          [style.background-image]="'url(' + entry.imageUrl + ')'"
          [routerLink]="entry.link"
          [attr.aria-label]="entry.ariaLabel"
        >
          <div class="entry__overlay">
            <div class="fs-4 entry__heading heading">
              @if (entry.icon) {
                <img class="heading__icon" [src]="entry.icon" [alt]="''" />
              }
              {{ entry.label }}
            </div>
          </div>
        </a>
      </li>
    }
  </ul>
</div>
