@mixin reset-list-styles {
  li {
    list-style: none;
  }

  ul {
    padding-left: 0;
  }
}

@mixin clampToLines($lineCount) {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lineCount;
}
