<div class="card">
  <!-- Card Title -->
  <div class="card-header">
    <div class="h4 card-title">{{ sessionAudio().name }}</div>
  </div>

  <!-- Card Body -->
  <div class="card-body">
    <a
      btn
      class="card-link"
      [routerLink]="sessionAudioUrl()"
      [icon]="'desktop'"
      [text]="'Stream'"
      [kind]="'PRIMARY'"
    >
    </a>

    <a
      btn
      [icon]="'download'"
      [text]="'Download'"
      [kind]="'DARK'"
      [href]="serverUrl() + '/' + sessionAudio().download_url"
      target="_blank"
      class="card-link"
    >
    </a>
  </div>
</div>
