<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<ng-template #content let-modal>
  <div class="modal-border {{ modalClass() }}">
    <div class="modal-header justify-content-between">
      <div class="h4 modal-title" [id]="id">{{ heading() }}</div>
      <button
        btn
        class="rounded"
        [kind]="'NONE'"
        [icon]="'xmark'"
        aria-label="Close"
        (clicked)="modal.dismiss()"
      ></button>
    </div>

    <div class="modal-body body">
      <div [id]="bodyId" class="body__content">
        <ng-content select="[body]"></ng-content>
      </div>
      <div class="body__buttons">
        <button
          btn
          class="body__button"
          [kind]="cancelButtonType()"
          [icon]="'times'"
          [text]="cancelButtonLabel()"
          (clicked)="onCancel(modal)"
        ></button>
        <button
          btn
          class="body__button"
          [kind]="modalType()"
          [icon]="submitIcon()"
          [text]="submitButtonLabel()"
          (clicked)="onSubmit(modal)"
        ></button>
      </div>
    </div>
  </div>
</ng-template>

<div (click)="open(content)" (keydown.Space)="open(content)">
  <ng-content select="[opener]"></ng-content>
</div>
