<app-page-container>
  <article class="config-tables">
    <h1>Config Tables</h1>

    <a
      btn
      class="config-tables__return-button"
      [routerLink]="campaignOverviewUrl"
      [kind]="'SECONDARY'"
      [icon]="'globe-americas'"
      [text]="'Back to campaign overview'"
    >
    </a>

    <!-- Sections -->
    @for (table of tables(); track table.kind) {
      <app-config-table
        [table]="$any(table)"
        [ariaLevel]="2"
        [canDeleteGlobalEntries]="canDeleteGlobalEntries()"
        [canDeleteCampaignEntries]="hasCampaignWritePermission()"
        [canCreate]="canCreate()"
        (loadTableEntries)="loadTableEntries.emit(table.kind)"
        (createTableEntry)="createEntry(table.kind, $event)"
        (deleteTableEntry)="
          deleteTableEntry.emit({ table: table.kind, entry: $event })
        "
      ></app-config-table>
    }

    <a
      btn
      class="config-tables__return-button"
      [kind]="'SECONDARY'"
      [icon]="'globe-americas'"
      [text]="'Back to campaign overview'"
      [routerLink]="campaignOverviewUrl"
    >
    </a>
  </article>
</app-page-container>
