:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: calc(1.5 * var(--spacer-1));
}

.btn {
  display: flex;

  &:focus-visible {
    outline: var(--focus-outline);
  }

  &__prefix-icon {
    margin-right: var(--spacer-2);
  }

  &__icon {
    width: 0px;
    margin-left: var(--spacer-0);
    transition: width 0.2s ease-in-out, margin 0.2s ease-in-out;
    overflow: hidden;

    &--active {
      margin-left: var(--spacer-2);
      width: 16px;
    }
  }
}
