:host {
  border-radius: var(--bs-border-radius-xl);
  border: var(--bs-border-style) var(--bs-border-width) var(--bs-border-color);
  box-shadow: var(--box-shadow);
}

.badge-button {
  display: flex;
  text-decoration: none;

  &:focus-visible {
    outline: var(--focus-outline);
    color: inherit;
    outline-offset: -2px;
  }
}

.badge {
  border-radius: var(--bs-border-radius-xl);
  overflow: hidden;
  text-overflow: ellipsis;
}

.bg-warning,
.bg-light,
.bg-info {
  color: (var(--bs-black));
}
