.profile {
  margin-bottom: var(--spacer-3);
  position: relative;

  &__header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__memberships {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-1);
  }

  &__data {
    margin-bottom: var(--spacer-4);
  }

  &__edit-container {
    display: flex;
    justify-content: end;
  }

  &__menu {
    position: absolute;
    right: 0%;
  }
}

.heading {
  display: flex;
  justify-content: space-between;

  &__text {
    margin-bottom: var(--spacer-0);
  }

  &__buttons {
    position: relative;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    top: 1px;
  }

  &__button {
    border: var(--bs-white) 1px solid;
    border-radius: var(--bs-border-radius);
  }
}
