<app-profile-tab-layout>
  <article class="profile">
    <!-- Section Heading -->
    <h1 class="cdk-visually-hidden">Profile</h1>

    <!-- Profile -->
    @if (!showProfileEditForm()) {
      <div class="row profile__data">
        <h2 class="h3">Profile Data</h2>
        <div class="col-4">Username</div>
        <div class="col-8">{{ user().username }}</div>
        <div class="col-4">Email</div>
        <div class="col-8">{{ user().email }}</div>
      </div>
      <section
        class="row profile__memberships"
        aria-labelledby="campaign-membership-label"
      >
        <h2 id="campaign-membership-label" class="h3">Campaign Memberships</h2>
        @for (
          membership of memberships();
          track membership.campaignName && membership.role;
          let i = $index
        ) {
          <div class="row pe-0">
            <div class="col-5">{{ membership.campaignName | titlecase }}</div>
            <div class="col-4">{{ membership.role | titlecase }}</div>
            <div class="col-3 pe-0 d-flex justify-content-end">
              <app-confirmation-toggle-button
                [attr.aria-label]="
                  'Leave campaign of ' + membership.campaignName
                "
                [itemToDelete]="
                  'your ' +
                  (membership.campaignName | titlecase) +
                  ' membership'
                "
                [icon]="'sign-out-alt'"
                [toggleType]="'SECONDARY'"
                [enableHotkey]="false"
                (confirm)="leaveCampaign(membership)"
              />
            </div>
          </div>
        }
      </section>
    } @else {
      <app-card>
        <app-form
          [model]="profileModel"
          [fields]="profileFields"
          [cancelButtonType]="'DARK'"
          (formlyCancel)="toggleProfileEditState()"
          (formlySubmit)="submitProfileUpdate()"
        />
      </app-card>
    }

    <!-- Password Form -->
    @if (showPasswordEditForm()) {
      <app-card>
        <app-form
          [model]="passwordModel"
          [fields]="passwordFields()"
          [cancelButtonType]="'DARK'"
          (formlyCancel)="togglePasswordEditState()"
          (formlySubmit)="updatePassword($event)"
        ></app-form>
      </app-card>
    }
  </article>
</app-profile-tab-layout>
