:host {
  display: block;
}

.key {
  padding: var(--spacer-1) var(--spacer-2);
  border-radius: var(--bs-border-radius);
  background-color: var(--bs-black);
  color: var(--bs-white);
  border: 1px solid var(--bs-white);
}
