@let sessionaudio = store.sessionaudio();
@if (sessionaudio) {
  <app-sessionaudio
    [canCreate]="store.hasWritePermission()"
    [canDelete]="store.hasWritePermission()"
    [canUpdate]="store.hasWritePermission()"
    [serverUrl]="serverUrl"
    [sessionaudio]="sessionaudio"
    [timestamps]="store.timestamps()"
    (createTimestamp)="store.createTimestamp($event)"
    (deleteTimestamp)="store.deleteTimestamp($event.pk!)"
    (sessionaudioDelete)="store.deleteSessionaudio($event.pk!)"
  />
}
