.form-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacer-2);
  --bs-body-bg: var(--bs-secondary);
  border-color: var(--bs-white);

  &__input {
    width: 100%;
    background-color: unset;
    border: unset;
    outline: unset;
    color: var(--bs-body-color);
  }
}
