:host {
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  33% {
    opacity: 1;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  66% {
    opacity: 0;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.stepper {
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacer-1);
  }

  &__marker {
    transition: transform 0.2s ease-in-out;
    line-height: 20px;
    display: inline;
    vertical-align: middle;
    transform: scale(0.6);

    &--active {
      transform: scale(1.3);
    }
  }

  &__nav-button {
    border-radius: var(--bs-border-radius);
    outline-offset: -2px;
    transform: scale(2);
    padding: var(--spacer-2);
    margin-left: var(--spacer-3);
    margin-right: var(--spacer-3);
  }

  &__content-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: var(--spacer-2);
  }

  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-bottom: var(--spacer-2);
    animation-duration: 200ms;

    &--animate-slide-in {
      opacity: 0;
      animation-name: slideInRight;
      animation-timing-function: ease-out;
    }

    &--animate-slide-out {
      opacity: 0;
      animation-name: slideOutLeft;
      animation-timing-function: ease-in;
    }

    &--animate-forward {
      animation-direction: normal;
    }

    &--animate-backward {
      animation-direction: reverse;
    }
  }
}
