<div class="modal-border">
  <div class="modal-header justify-content-between">
    <div class="h4 modal-title" [id]="titleId">Search</div>
    <button
      btn
      class="rounded"
      [kind]="'NONE'"
      [icon]="'xmark'"
      aria-label="Close"
      [hotkeyAction]="'cancel'"
      [watchOptions]="{ isModalAction: true }"
      (actionTriggered)="dismiss()"
      (clicked)="dismiss()"
    ></button>
  </div>

  <div class="modal-body body">
    <div class="body__search-field-container">
      <app-search-field
        [autofocus]="true"
        class="body__search-field"
        [placeholder]="'Search Query'"
        [btnAriaLabel]="'Start search!'"
        [canSearch]="!isLoading()"
        [ariaControls]="listId"
        [inLoadingState]="isLoading()"
        (appSearch)="searchString.set($event)"
        (searchInput)="searchString.set($event)"
        (searchSubmit)="shiftToSearch()"
      >
        <div prefix>
          <label id="search-filters" class="h6 mb-2 fw-bold">
            Search Filters
          </label>

          <app-toggle-row
            aria-labelledby="search-filters"
            class="body__search-filters"
            [toggles]="filterToggles()"
            (activated)="updateFilters($event)"
          />
        </div>
      </app-search-field>
    </div>
    @if (searchStore.searchArticlesQueryState() !== "init") {
      @let hasEntries = (entries()?.length ?? 0) > 0;
      <app-list
        #list
        [id]="listId"
        class="body__search-results"
        [class.body__search-results--hidden]="!hasEntries"
        [entries]="entries() ?? []"
        aria-label="Search Results"
        [arrowKeyNavigationOptions]="{
          isModalAction: true,
        }"
        [attr.aria-busy]="isLoading()"
        (entryActivated)="routeToEntry($event)"
      >
        <ng-template #entryTemplate let-templateContext>
          @let context = typecastContext(templateContext);
          <a
            class="body__search-result-link"
            [class.body__search-result-link--in-focus]="context.isInFocus"
            [routerLink]="context.data.url"
            [tabIndex]="context.isInFocus ? 0 : -1"
            [ngbTooltip]="context.data.name"
            [id]="context.entryLabelId"
          >
            @let color = context.data.color + " !important";
            <app-overview-entry
              class="body__search-result"
              [style]="{
                'border-left-color': color,
              }"
              [header]="context.data.name"
              [defaultBorder]="false"
              [body]="context.data.description"
              [img]="{
                src: context.data.images?.[0] ?? DEFAULT_URL,
                alt: '',
                placeholder: DEFAULT_URL,
              }"
            />
            <app-icon
              class="body__search-result-icon"
              [icon]="context.data.icon"
              [ngbTooltip]="context.data.article_type"
            />
          </a>
        </ng-template>
      </app-list>
      @if (isEmptySearch()) {
        <div class="body__empty empty">
          <app-icon class="empty__icon" [icon]="'search'" />
          <div class="empty__text">
            {{ searchStore.searchArticles()?.emptyResponse }} <br />
            <div class="h4">We couldn't find any hits</div>
          </div>
        </div>
      }
    } @else {
      <div class="body__empty empty">
        <app-icon class="empty__icon" [icon]="'search'" />
        <div class="empty__text">
          {{ searchStore.searchArticles()?.emptyResponse }} <br />
          <div class="h4">Enter a search query to explore your content</div>
        </div>
      </div>
    }

    <div class="cdk-visually-hidden" aria-live="polite">
      @if (searchStore.searchArticlesQueryState() === "success") {
        {{ searchStore.searchArticles()?.articles?.length }} results found
      }
    </div>
  </div>
</div>
