@use "/src/screens.scss" as screen;

:host {
  display: block;
}
::ng-deep {
  @include screen.media-breakpoint-up(md) {
    .search-modal {
      max-width: 1000px !important;
    }
  }
}

.body {
  display: flex;
  flex-direction: column;

  &__search-field-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: var(--spacer-3);
    gap: var(--bs-modal-padding);
  }

  &__search-filters {
    margin-bottom: var(--spacer-3);
  }

  &__search-field {
    margin: 0;
    width: 100%;
  }

  &__search-results {
  }

  &__spinner-container {
    width: 36px;
    height: 36px;
  }
}

.search-results {
  &__heading {
    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-2);
    overflow-y: scroll;
    height: 400px;

    &--hidden {
      display: none;
    }
  }

  &__search-result-link {
    font-weight: unset;
    text-decoration: unset;
    outline: none;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    display: flex;
    align-items: center;
    position: relative;

    &:has(:hover),
    &:has(:focus),
    &--in-focus {
      background-color: var(--bs-black);
      color: var(--bs-link-hover-color);
    }
  }

  &__search-result {
    background-color: inherit;
    border-left-width: 8px !important;
    border-left-style: solid;
    border-radius: var(--bs-border-radius);
    position: static;
  }

  &__search-result-icon {
    font-size: 30px;
    opacity: 0.5;
    margin-right: var(--spacer-2);
  }

  &__empty {
    height: 400px;
  }
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    font-size: 200px;
  }
}

.placeholders {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-1);
  align-items: center;

  &__heading {
    height: 50px;
    max-width: 300px;
    width: 100%;
  }

  &__body {
    height: 400px;
    width: 100%;
  }
}
