<div class="modal-border">
  <div class="modal-header justify-content-between">
    <div class="h4 modal-title" [id]="titleId">Search</div>
    <button
      btn
      class="rounded"
      [kind]="'NONE'"
      [icon]="'xmark'"
      aria-label="Close"
      [hotkeyAction]="'cancel'"
      [watchOptions]="{ isModalAction: true }"
      (actionTriggered)="dismiss()"
      (clicked)="dismiss()"
    ></button>
  </div>

  <div class="modal-body body">
    <div class="body__search-field-container">
      <app-search-field
        [autofocus]="true"
        class="body__search-field"
        [placeholder]="'Search Query'"
        [btnAriaLabel]="'Start search!'"
        [canSearch]="true"
        [ariaControls]="listId"
        [inLoadingState]="isLoading()"
        (appSearch)="searchString.set($event)"
        (searchInput)="searchString.set($event)"
        (searchSubmit)="shiftToSearch()"
      >
        <fieldset prefix>
          <legend class="h6 mb-2 fw-bold">Search Filters</legend>

          <app-toggle-row
            aria-labelledby="search-filters"
            class="body__search-filters"
            [toggles]="filterToggles()"
            (activated)="updateFilters($event)"
          />
        </fieldset>
      </app-search-field>
    </div>
    <div class="body__search-results search-results">
      <div class="fs-3 fw-bold search-results__heading" aria-live="polite">
        @if (searchStore.searchArticlesQueryState() === "success") {
          {{ searchStore.searchArticles()?.articles?.length }} results found
        }
      </div>

      @switch (searchStore.searchArticlesQueryState()) {
        @case ("init") {
          <div class="search-results__empty empty">
            <app-icon class="empty__icon" [icon]="'search'" />
            <div class="empty__text">
              {{ searchStore.searchArticles()?.emptyResponse }} <br />
              <div class="h4 text-center">
                Enter a search query to explore your content
              </div>
            </div>
          </div>
        }
        @case ("loading") {
          <div class="search-results__placeholders placeholders">
            <app-placeholder class="placeholders__heading" />
            <app-placeholder class="placeholders__body" />
          </div>
        }
        @case ("success") {
          @if (!isEmptySearch()) {
            <ul class="search-results__list">
              @for (entry of entries(); track entry.trackId) {
                @let context = entry;
                <li class="search-results__search-result-link">
                  @let color = context.data.color + " !important";
                  <app-overview-entry
                    class="search-results__search-result"
                    [style]="{
                      'border-left-color': color,
                    }"
                    [header]="context.data.name"
                    [defaultBorder]="false"
                    [body]="context.data.description"
                    [img]="{
                      src: DEFAULT_URL,
                      alt: '',
                      placeholder: DEFAULT_URL,
                    }"
                    [link]="context.data.url"
                  />
                  <app-icon
                    class="search-results__search-result-icon"
                    [icon]="context.data.icon"
                    [ngbTooltip]="context.data.article_type"
                  />
                </li>
              }
            </ul>
          } @else {
            <div class="search-results__empty empty">
              <app-icon class="empty__icon" [icon]="'search'" />
              <div class="empty__text">
                {{ searchStore.searchArticles()?.emptyResponse }} <br />
                <div class="h4">We couldn't find any hits</div>
              </div>
            </div>
          }
        }
      }
    </div>
  </div>
</div>
