@let character = store.character();

@if (character != null) {
  <app-character
    [character]="character"
    [characterServerModel]="store.characterServerModel()"
    [characterQuote]="store.characterQuote()"
    [campaignCharacters]="store.campaignCharacters() ?? []"
    [campaignNPCCharacters]="store.campaignNPCCharacters() ?? []"
    [campaignOrganizations]="store.campaignOrganizations() ?? []"
    [campaignLocations]="store.campaignLocations() ?? []"
    [serverUrl]="serverUrl"
    [encounters]="store.campaignEncounters() ?? []"
    [sessions]="store.campaignSessions() ?? []"
    [quoteServerModel]="store.quoteServerModel()"
    [imageServerModel]="store.imageServerModel()"
    [encounterServerModel]="store.encounterServerModel()"
    [campaignClasses]="store.campaignPlayerClasses() ?? []"
    [canUpdate]="store.hasWritePermission()"
    [canCreate]="store.hasWritePermission()"
    [canDelete]="store.hasWritePermission()"
    (characterDelete)="onCharacterDelete()"
    (characterUpdate)="onCharacterUpdate($event)"
    (createImage)="onCreateImage($event)"
    (deleteImage)="onDeleteImage($event)"
    (updateImage)="onUpdateImage($event)"
    (quoteCreate)="onCreateQuote($event)"
    (quoteUpdate)="onUpdateQuote($event)"
    (quoteDelete)="onDeleteQuote($event)"
    (quoteConnectionCreate)="onCreateQuoteConnection($event)"
    (quoteConnectionDelete)="onDeleteQuoteConnection($event)"
    (encounterUpdate)="onUpdateEncounter($event)"
    (encounterDelete)="onDeleteEncounter($event)"
    (encounterConnectionCreate)="onCreateEncounterConnection($event)"
    (encounterConnectionDelete)="onDeleteEncounterConnection($event)"
    (refreshQuote)="onRefreshQuote()"
    (organizationMembershipCreate)="store.createMembership($event)"
    (organizationMembershipDelete)="store.deleteMembership($event)"
    (addClass)="store.addClass($event.pk!)"
    (removeClass)="removeClass($event.pk!)"
  ></app-character>
}
